@font-face {
  font-family: RobotoRegular;
  src: url(../../fonts/Roboto-Regular.ttf);
}

html,
body {
  background-color: #ebe9d7;
  font-family: RobotoRegular;
}
.App {
  text-align: center;
  background-color: #ebe9d7;
}

.login-screen {
  padding-top: 10%;
}
.welcome {
  height: 64px;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #383743;
  padding: 20%;
}

.lorem-ipsum {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: -0.3px;
  text-align: center;
  color: #383743;
}

.login-button {
  width: 100%;
  height: 52.8px;
  border-radius: 3.6px;
  background-color: #57bbbc;
  border-color: #57bbbc !important;
  transition: all 0.5s;
}

.login-button:hover {  
  background-color: #5ad9db;
  border-color: #5ad9db !important;
  outline: none !important;
}

.login-button:focus {  
  background-color: #5ad9db;
  border-color: #5ad9db !important;
  outline: #5ad9db !important;
}

input {
  font-size: 1rem;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100% !important;
  border: none;
  background-color: transparent;
  border-bottom: solid 0.7px #383743;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: left;
  color: #383743;
}

#exampleInputEmail1 {
  background-image: url(../../assets/imgs/ic-email.png);
  background-position: 7px 7px;
  background-repeat: no-repeat;
}

#exampleInputPassword1 {
  background-image: url(../../assets/imgs/ic-cadeado.png);
  background-position: 7px 7px;
  background-repeat: no-repeat;
}

::placeholder {
  padding-left: 10%;
}
input[type="email"],
input[type="password"] {
  padding-left: 10%;
}
input:focus {
  outline: none;
}

#pesquisa {
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: -0.5px;
  text-align: center;
  color: #383743;
  margin-top: 25%;
}

.Rectangle-26 {
  width: 21.75rem;
}
