.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav {
  background-image: linear-gradient(173deg, #ee4c77, #ee4c77);
  height: 8em;
}

#search {
  font-size: 1rem;
  padding: 10px 10px 10px 5px;
  display: block;

  border: none;
  background-color: transparent;
  border-bottom: solid 0.7px #d8d8d8;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: left;
  color: #991237;
  opacity: 1;
}
